.grid{
    width: 100%;
    border:3px solid rgb(16, 14, 14);
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-row-gap:10px;
    grid-column-gap:10px;
}
.box1{
    background-color: rgb(119, 240, 137);
}
.box2{
    background-color: aquamarine;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: rgb(166, 27, 148);
}
.box5{
    background-color: rgb(52, 164, 164);
}
.box6{
    background-color: beige;
}
